body {
  background: url("../images/pub_bg.png") no-repeat;
}
header {
  width: 10rem;
  height: 1.12rem;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  position: fixed;
  top: 0;
  z-index: 3;
}
header h2 {
  color: #ffffff;
  font-size: 0.4rem;
  font-weight: normal;
  line-height: 1.12rem;
  text-align: center;
  width: 100%;
}
header span .fa {
  color: #6d3f28;
  position: absolute;
}
header .back {
  color: #6d3f28;
  display: block;
  position: absolute;
  top: -0.2rem;
  left: 0.33333333rem;
}
header .back .fa {
  top: 0;
  left: 0.4rem;
  font-size: 0.73333333rem;
}
header .right_men .fa {
  top: 0.30666667rem;
  right: 0.4rem;
  font-size: 0.56rem;
}
aside {
  width: 10rem;
  margin-top: 1.12rem;
}
aside .piclist {
  width: 100%;
  display: inline-block;
  height: 4.13333333rem;
  position: relative;
  margin-bottom: 0.13333333rem;
}
aside .piclist img {
  width: 100%;
  display: inline-block;
}
.piclist .pictext {
  position: absolute;
  top: 50%;
  left: 50% ;
  color: #fff;
  font-size: 0.32rem;
  text-align: center;
  transform: translate(-50%, -50%);
}
.piclist .pictext p {
  white-space: nowrap;
}
.piclist .pictitle {
  position: absolute;
  font-size: 0.34666667rem;
  color: #fff;
  top: 0.26666667rem;
  left: 0.4rem;
}
