.slide .slide_pic {
  height: 6rem;
}
.slide .slide_pic li {
  height: 100%;
}
.wqtext p {
  height: 0.26666667rem;
  line-height: 0.26666667rem;
  font-size: 0.32rem;
}
.tf_text {
  margin-top: 0.73333333rem;
}
.tf_text .text {
  font-size: 0.26666667rem;
}
.tf_text li:first-child {
  margin-bottom: 0.37333333rem;
}
.section1 .phone {
  width: 7.28rem;
  height: 2.82666667rem;
  background: #f9f9f9;
  text-align: center;
  border-radius: 0.26666667rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0096ff;
  overflow: hidden;
  font-size: 0.48rem;
  display: none;
}
.section1 .phone .top {
  width: 100%;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}
.section1 .phone span {
  width: 50%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  text-align: center;
  display: block;
  float: left;
}
.section1 .phone .cancel {
  border-right: 1px solid #d5d5d5 ;
  box-sizing: border-box;
}
