<ion-view view-title="FashionProduct" ng-controller="productCtrl">
    <div class="bar bar-subheader " id="allproduct-header" >
        <div class="row" ng-repeat="item in proCategory" ng-if="$index % 4 == 0">
            <div class="col-25" ng-repeat="i in [$index,$index + 1,$index + 2,$index + 3]" ng-if="proCategory[i] != null" ng-click="selectCategory(proCategory[i].category)">
                <p ng-class="proCategory[i].category==selectedCate?'active':''">{{proCategory[i].category}}</p>
                <span ng-class="proCategory[i].category==selectedCate?'active':''">{{proCategory[i].english}}</span>
            </div>
        </div>
    </div>
    <ion-content class="allproduct has-subheader">
        <div class="row product-row" ng-repeat="product in products" ng-if="$index % 2 == 0">
            <div class="item card home-card col-50" ng-repeat="i in [$index,$index + 1]" ng-if="products[i] != null"  ng-click="goToDetail(products[i])">
                <div class="item-image"><img ng-src="{{products[i].imgsrc}}"/></div>
                <a class="home-card-title">{{products[i].name}}</a>
                <p><strong>{{products[i].price|currency:"RMB ￥"}}</strong></p>
                <i class="button button-icon ion-ios-heart-outline"></i>
            </div>
        </div>
    </ion-content>
</ion-view>