body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd,dt,input,dl,dt,dd{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none;color:#666;}
img,input{border:none;}
button{background: none;border: none;}
.clearfix:after{content:"200B";height:0;font-size:0;display:block;clear:both;}
.clearfix{*zoom:1;}
.home-content,.myhome,.cart-content,.allproduct,#product-detail,#userInfo{background-color:#F2F2F2;}
#tabs .tab-title,#left-side-header .category,#category-tabs .tab-title,.category-list li a,.miaosha h5,.miaosha p,.miaosha .price,.miaosha .title,.miaosha .qiang,.home-sort,.home-card-title,.home-card .location,.fashion .text,.edit-button,#cart-list,.myhome,#mycart-footer,.fashion-content,.allproduct,#allproduct-header,#product-detail,#userInfo{font-size: 12px;font-family:"Microsoft YaHei"}
.home-sort,.miaosha{background: #fff}

/*底部导航栏*/
#tabs .tab-nav{height: 40px;line-height: 40px;}
#tabs .icon{font-size:25px;height:25px;}
.pink{color: #FF6A6A;}
#tabs .badge-pink{background-color:#FF6A6A;font-size: 12px;font-weight: normal }
#tabs .tab-title{font-size: 11px;font-family:"Microsoft YaHei";}
.bar .bar.bar-light .title{font-family:"Microsoft YaHei";font-size: 14px;}/*顶部标题*/
/*********************************首页**************************************************/
/*首页轮播图*/
#nav-bar .bar-header.has-tabs-top{border-bottom-width:1px;}
.home-slide-box{font-size: 0;position: relative;}
.home-slide-box img{width:100%;}
#tabs .slider-pager .slider-pager-page{margin: 0 1px;width:12px;}
#tabs .ion-record{font-size: 10px;}
#tabs .slider-pager{bottom: 16px;}
#tabs .slider-pager .slider-pager-page.active{color:#FF6A6A}

/*顶部导航*/
.bar-light .side-button{border: none;}
#nav-bar .bar .button{font-size: 20px;}

/*左侧边栏分类*/
#left-side-header .category{font-size:12px;font-family:"Microsoft YaHei"}
#category-tabs .tabs{background-color:#f9f9f9;border-top:1px solid #eee;border-bottom: none;}
.tab-item.tab-item-active{color:#FF6A6A }
.category-list li{height: 44px;line-height: 44px;padding-left: 10px;}
.category-list li a{;color: #444;}
#nav-bar .serch-button{font-size: 16px;}

/*全球秒杀*/
.miaosha{margin-bottom: 10px;box-shadow:0 0 8px 0 rgba(0,0,0,0.3); padding-top: 10px;}
.miaosha h5,p{text-align: center;margin-top: 0;margin-bottom: 0}
.miaosha p{color: #8C8C8C;}
.miaosha .row{width:900px;}
.miaosha .list{text-align:center;width:11%;padding: 0 3px;}
.miaosha-pic{padding-bottom: 10px;}
.miaosha-pic img{width:60px;height: 60px;}
.miaosha .price span{padding-left:3px;text-decoration: line-through;font-weight: normal;color:#8C8C8C}
.miaosha .title{color:#8C8C8C;display: block;}
.miaosha .qiang{display:inline-block;border: 1px solid #FF6A6A;color: #FF6A6A;border-radius: 20px;width:60px;margin-top: 10px;cursor: pointer;}

/*首页分类*/
.home-sort{color:#615959;text-align: center}
.home-sort p{margin-bottom:0;}
.col-left{border-bottom: 1px solid #ddd;border-right:1px solid #ddd;padding: 8px 0;}
.col-right{border-bottom: 1px solid #ddd;padding-top: 8px;}

/*首页card*/
.home-card{text-align: center;position: relative;margin: 10px 0;}
.home-card .item h5{font-size: 15px;}
.home-content .item-image{margin-bottom: 10px;}
.home-card-title{color:#444;}
.home-card strong{color:#FF6A6A;font-weight: normal }
.home-card .button{position: absolute;right:0;top:75%;color:#FF6A6A;right: 12px;}
.home-card .button:hover{color:#FF6A6A}

/*********************************时尚资讯页**************************************************/
.fashion .main-pic{height:350px;overflow: hidden;margin-bottom: 10px;}
.fashion .main-pic img{width: 100%}
.fashion .item{padding: 0;margin-bottom: 30px;border-width: 0;}
.fashion .item h4{font-weight:bold;font-family: "Microsoft YaHei";font-size: 18px;text-align: center;line-height: 30px;word-break: break-all;padding: 0 15px;overflow: visible;white-space: normal}
.fashion .follow{text-align: center;font-size: 12px;}
.fashion .follow span{margin-right: 10px;}
#tabs .fashion .follow i{margin-right: 3px;font-size: 12px;}
.fashion .text{color: #8c8c8c;height: 40px;white-space: normal}

/*********************************我的购物车页**************************************************/
.edit-button{color: #8c8c8c;}
#cart-list img{border-radius: 0;}
#cart-list .item{border-top-width: 0;}
#cart-list .wrap{margin-top: 10px;}
#cart-list .count{float: right;}
#cart-list .price{float:left;color: #FF6A6A}
#cart-list .count button{border: 1px solid #ddd;padding:0 5px;}
#cart-list .count span{width:28px;height: 21px;border: 1px solid #ddd;display: inline-block;line-height:21px;text-align: center;font-size: 11px;}
#cart-list .button-icon.icon:before{font-size:24px;}
#cart-list .icon{margin-top: 15px;}
#cart-list .item-delete .button.icon{color:#FF6A6A}
#cart-list .item-content{padding: 15px 10px;}
#cart-list .item-avatar .item-content{padding-left: 72px;}
#mycart-footer{padding: 0;padding-left: 5px;margin-bottom: -9px;height: 40px;line-height: 40px;}
#mycart-footer p{display: inline-block}
#mycart-footer span{color:#FF6A6A}
#mycart-footer a{position: absolute;right: 0;width: 80px;height: 40px;background:#FF6A6A;color: #fff; }
#mycart-footer{text-align: center}
.pane .has-footer.has-tabs{bottom: 0;}
.alert-warning{font-size: 14px;font-family: "Microsoft YaHei";text-align: center;margin-top: 100px;color: #ccc;}
.alert-warning a{color:#FF6A6A;text-decoration: underline;}
/*********************************我的主页**************************************************/
.my-header{height: 150px;background-image: url("../images/home/mohu-bg.jpg");text-align: center;background-size:cover;background-repeat: no-repeat}
.my-header img{width:80px;height:80px;border-radius: 50%;margin-top:30px;}
.myhome .row{text-align: center;background: #fff;padding: 0}
.myhome .row-top{margin-bottom:20px; padding: 5px 0;}
.myhome .row-top a{color:#8c8c8c;}
.myhome .row-bottom a{color: #FF6A6A;}
.myhome .row span{color: #8c8c8c;}
.myhome .row-bottom .col-33{border-bottom:1px solid #ddd;border-right:1px solid #ddd;padding:15px;}
.myhome .row-bottom .last-col{border-right:none}
.myhome .name{color: #fff;}
#exit-button,#setting-button{font-size: 20px;margin-top:7px;}

/*********************************资讯详情页**************************************************/
.fashion-content .big-pic img{height:100%;width: 100%}
.fashion-content .text{text-align: left;line-height: 23px;color: #444;}
.fashion-content .main-content{padding: 15px;}
.fashion-content .main-content img{width: 100%}
.fashion-content .main-content .pic{margin-bottom: 10px;}

/*********************************所有商品**************************************************/
#allproduct-header{height: 55px;margin-bottom: 10px;}
#allproduct-header .row{text-align: center;background: #fff;margin-bottom: 10px;color: #444;}
#allproduct-header .row p{margin: 0;}
#allproduct-header .row .active{color:#FF6A6A}
#allproduct-header .col-25{border-right: 1px solid #ddd;}
.allproduct .card{margin: 10px;}
.allproduct .col-50{flex: 0 0 45%}
.product-row{margin-bottom: 5px;margin-top: 10px;}
.allproduct .item{padding: 0;}
.allproduct .item-image{padding: 16px;}
.allproduct .item p{text-align: left}
.allproduct .item  strong{color: #444;padding-left:6px;}
.allproduct .item .button{top:64%;right: 0;}

/*********************************商品详情页**************************************************/
#share-button{font-size: 24px;}
#product-detail{text-align: center;color: #444;}
#product-detail .big-pic{height: 350px;overflow: hidden;background: #fff;}
#product-detail .big-pic img{width: 100%}
#product-detail .main-text{padding: 10px 20px;background: #fff;}
#product-detail .main-text p{margin-bottom: 5px;}
#product-detail .price{font-size: 14px;color:#FF6A6A;}
#product-detail .pre-price{text-decoration:line-through;padding: 0 3px;}
#product-detail .main-text i{display: inline-block;width:30px;height: 15px;border-radius: 6px;background: #ccc;line-height: 15px;color: #eee}
#product-detail .store{padding-top: 20px;background: #fff}
#product-detail .store img{width:60px;height: 60px;border-radius: 50%;}
#product-detail .list{margin-bottom: 15px;}
#product-detail .list h5,#product-detail .list p{text-align: left}
#product-detail .list h5{font-size: 14px;font-family:"Microsoft YaHei";color: #444;}
#product-detail .pro-detail{background: #fff;padding-top: 15px;margin-bottom: 20px;}
#product-detail .pro-detail h4{font-size: 16px;font-family:"Microsoft YaHei";color: #444;}
#product-detail .pro-detail p{text-align: left}
#product-detail .pro-detail .small-pic{height: 400px;overflow: hidden}
#product-detail .pro-detail img{width: 100%}
#buy-footer{margin-bottom: -9px;line-height: 40px;}
#buy-footer .right{position: absolute;right: 0}
#buy-footer .left i{font-size: 27px;color:#FF6A6A;margin:0 20px;}
#buy-footer .right a{color: #fff;background:#FF6A6A;display: inline-block;height: 44px;text-align: center;line-height: 44px;padding: 0 5px;}

/*********************************填写信息页**************************************************/
#userInfo{text-align: center}
#userInfo p{text-align: left;color: #ccc;padding-top: 10px;border-top:1px solid #ddd;}
#userInfo ul{background: #fff;padding: 10px;text-align: left}
#userInfo input{border: 1px solid #ddd;width: 100%}
#userInfo a{display: inline-block;text-align: center;height: 30px;width: 60px;border-radius: 5px;background:#FF6A6A;line-height: 30px;color: #fff;}