<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>
<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/hot.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<script src="../../js/index.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/hot.js"></script>
<script src="../../js/nav.js"></script>
<script src="../../js/callOrder.js"></script>
<body>
<div class="wrap">
    <header>
        <h2>康体娱乐</h2>
        <a class="back" href="amusement.html"><i class="fa fa-angle-left"></i></a>
        <span class="right_men"><i class="fa fa-bars"></i></span>
    </header>
    <aside>
        <div class="slide">
            <ul class="slide_pic">
                <li><img src="../../images/js_03.png"> </li>
                <li><img src="../../images/wq02.png"></li>
                <li><img src="../../images/wq03.png"></li>
            </ul>
            <ul class="point">
                <li class="ac"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </aside>
    <section class="section1">
        <h3>北苑健身</h3>
       <div class="wqtext">
            <p> 25米泳池，水温24～29度。</p>
            <p>健身器材类型丰富，有氧区与无氧区分设。</p>
            <p>   专门为VIP开辟私人教室。</p>
            <p>  可满足各种健身需求。</p>

       </div>
        <div class="order">立即预定</div>
        <div class="phone">
            <div class="top">010-84832266</div>
            <span class="cancel">取消</span>
            <span class="call">通话</span>
        </div>
    </section>
    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>