<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>

<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<link href="../../css/meetlist.css" rel="stylesheet">
<script src="../../js/jquery.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/nav.js"></script>
<script src="../../js/meetlist.js"></script>


<body>
<div class="wrap">
    <header>

            <h2>会议展厅</h2>
            <a class="back" href="report.html"><i class="fa fa-angle-left"></i></a>
            <span class="right_men"><i class="fa fa-bars"></i></span>

    </header>
    <section>
        <div class="meet_pic">
            <img src="../../images/0.jpg">
        </div>
        <img src="../../images/pre.png" class="pre">
        <img src="../../images/next.png" class="next">
        <div class="pic_list clearfix">
            <div class="pic-wrap img1">
                <img src="../../images/yihuier5.jpg" >
                <div class="cover " index="-2"></div>
            </div>
            <div class="pic-wrap img2" >
                <img src="../../images/huiyier3.png">
                <div class="cover" index="-1"></div>
            </div>
            <div class="pic-wrap img3">
                <img src="../../images/huier1_07.png">
                <div class="cover ac" index="0"></div>
            </div>
            <div class="pic-wrap img4">
                <img src="../../images/huiyier7.jpg">
                <div class="cover" index="1"></div>
            </div>
            <div class="pic-wrap img5">
                <img src="../../images/huiyier9.jpg">
                <div class="cover" index="2"></div>
            </div>





        </div>
        <div class="arc">
            <img src="../../images/zhen_03.png">
            <div class="arrow"><span class="triangle"></span></div>
        </div>

    </section>

    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>