<ion-view view-title="MyHome">
    <ion-nav-buttons side="right">
        <i class="icon icon-button ion-log-out" id="exit-button"></i>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <i class="icon icon-button ion-ios-gear-outline" id="setting-button"></i>
    </ion-nav-buttons>
    <ion-content class="myhome">
        <div class="my-header">
            <img src="images/home/store-image1.jpeg">
            <p class="name">小猴子</p>
        </div>
        <div class="row row-top">
            <div class="col-25">
                <a>
                    <i class="icon ion-ios-list-outline"></i><br/>
                    <span>全部订单</span>
                </a>
            </div>
            <div class="col-25">
                <a>
                    <i class="icon ion-card"></i><br/>
                    <span>待付款</span>
                </a>
            </div>
            <div class="col-25">
                <a>
                    <i class="icon ion-plane"></i><br/>
                    <span>待发货</span>
                </a>
            </div>
            <div class="col-25">
                <a>
                    <i class="icon ion-ios-compose-outline"></i><br/>
                    <span>待收货</span>
                </a>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col-33">
                <a>
                    <i class="icon ion-ios-folder-outline"></i><br/>
                    <span>我的卡券</span>
                </a>
            </div>
            <div class="col-33">
                <a>
                    <i class="icon ion-ios-heart-outline"></i><br/>
                    <span>收藏单品</span>
                </a>
            </div>
            <div class="col-33 last-col">
                <a>
                    <i class="icon ion-ios-pulse"></i><br/>
                    <span>收藏店铺</span>
                </a>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col-33">
                <a>
                    <i class="icon ion-ios-paw-outline"></i><br/>
                    <span>我的足迹</span>
                </a>
            </div>
            <div class="col-33">
                <a>
                    <i class="icon ion-ios-bookmarks-outline"></i><br/>
                    <span>收藏内容</span>
                </a>
            </div>
            <div class="col-33 last-col">
                <a>
                    <i class="icon ion-ios-pricetags-outline"></i><br/>
                    <span>收藏品牌</span>
                </a>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col-33">
                <a>
                    <i class="icon ion-ios-camera-outline"></i><br/>
                    <span>我的晒单</span>
                </a>
            </div>
            <div class="col-33">
                <a>
                    <i class="icon ion-ios-rose-outline"></i><br/>
                    <span>免费拿</span>
                </a>
            </div>
            <div class="col-33 last-col">
                <a>
                    <i class="icon ion-ios-telephone-outline"></i><br/>
                    <span>收藏店铺</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>