<!--底部导航tabs-->
<ion-tabs class="tabs-white tabs-icon-top"ng-controller="cartCtrl" id="tabs" ng-class="{'tabs-item-hide': $root.hideTabs}">
    <ion-tab title="首页" ui-sref="tabs.home"
             icon-on="ion-ios-home pink" icon-off="ion-ios-home-outline">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="时尚圈" ui-sref="tabs.fashion"
             icon-on="ion-ios-glasses pink" icon-off="ion-ios-glasses-outline">
        <ion-nav-view name="tab-fashion"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" badge="totalNumber()" badge-style="badge-pink"
             ui-sref="tabs.cart" icon-on="ion-ios-cart pink" icon-off="ion-ios-cart-outline">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的"
             ui-sref="tabs.my" icon-on="ion-ios-person pink" icon-off="ion-ios-person-outline">
        <ion-nav-view name="tab-my"></ion-nav-view>
    </ion-tab>
</ion-tabs>