<ion-view view-title="HighGo" id="tour-view" hide-nav-bar="true">
    <!--<ion-content>-->
    <ion-slide-box show-pager="false">
        <ion-slide class="slide-box" >
            <img src="images/fashion/auto1.jpg">
        </ion-slide>
        <ion-slide class="slide-box">
            <img src="images/fashion/auto2.jpg">
        </ion-slide>
        <ion-slide class="slide-box">
            <img src="images/fashion/auto3.jpg">
        </ion-slide>
        <ion-slide class="slide-box">
            <img src="images/fashion/auto4.jpg">
            <button class="button" ui-sref="tabs.home" id="enter-button">Enter</button>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>