<ion-view view-title="填写信息">
    <ion-content id="userInfo">
        <form name="shippingForm" novalidate >
            <p>请输入您的详细信息，我们将尽快为您发货!</p>
            <ul>
                <li>收件人：<input type="text"/></li>
                <li>手机号：<input type="number"/></li>
                <li>身份证号：<input type="text"/></li>
                <li>省市区：<input type="text"/></li>
                <li>街道地址：<input type="text"/></li>
            </ul>
            <a>确认信息</a>
        </form>
    </ion-content>
</ion-view>