<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>

<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<link href="../../css/flexo.css" rel="stylesheet">
<script src="../../js/jquery.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/nav.js"></script>
<script src="../../js/flexo.js"></script>

<body>
<div class="wrap">
    <header>

            <h2>多功能会议厅</h2>
            <a class="back" href="report.html"><i class="fa fa-angle-left"></i></a>
            <span class="right_men"><i class="fa fa-bars"></i></span>

    </header>
    <section>
        <ul class="piclist clearfix">
            <li>
                <img src="../../images/shi1_03.png" >
                <div class="cover ac"></div>
            </li>
            <li>
                <img src="../../images/shi2_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi3_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi4_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi5_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi6_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi7_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi8_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi9_03.png" >
                <div class="cover"></div>
            </li>
            <li>
                <img src="../../images/shi10_03.png" >
                <div class="cover"></div>
            </li>
        </ul>
    </section>

    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>