<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>
<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<script src="../../js/jquery.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/nav.js"></script>
<body>
<div class="wrap">
    <header>
        <h2>会议展示</h2>
        <a class="back" href="../../index.html"><i class="fa fa-angle-left"></i></a>
        <span class="right_men"><i class="fa fa-bars"></i></span>
    </header>
    <aside>
        <div class="piclist">
            <img src="../../images/huiyi_02.png">
            <div class="pictext">
                <p>会议室面积超过6000平方米</p>
                <p>  配套背景板、舞台、投影仪、幕布、桌签等服务一应俱全</p>
                <p> 可容纳20~1000人大、中、小会议室14个</p>
                <p> VIP贵宾接待室</p>
            </div>
        </div>
        <div class="piclist">
            <a href="meetlist.html"><img src="../../images/huiyi_04.png"></a>
          <div class="pictitle">报告厅</div>
        </div>
        <div class="piclist">
            <a href="flexo.html"><img src="../../images/huiyi_06.png"></a>
            <div class="pictitle">会议厅</div>
        </div>
        <div class="piclist">
            <a href="../wedding/wedding.html"><img src="../../images/huiyi_08.png"></a>
            <div class="pictitle">宴会厅</div>
        </div>
    </aside>
    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>