<ion-view view-title="HighFashion">
    <ion-content ng-controller="fashionCtrl">
        <div class="list fashion">
            <div class="item" ng-repeat="fashionList in fashionInfo" ng-click="gotoFaDetail(fashionList)">
                <div class="main-pic"><img ng-src="{{fashionList.imgsrc}}"/> </div>
                <h4>{{fashionList.title}}</h4>
                <div class="follow"><span><i class="icon icon-left ion-ios-eye"></i>{{fashionList.focus}}</span><i class="icon icon-left ion-ios-heart"></i>{{fashionList.collect}}</div>
                <p class="text">{{fashionList.detail}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>