@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd,dt,ol,input,dl,dt,dd{margin:0;padding:0;}
body{font-family:arial,"Microsoft YaHei","宋体";color:#000;}
ul{list-style:none;}
a{text-decoration:none;color:#000;}
i{font-style:normal;font-family:consolas;}
img,input{border:none;}
input{background: none}
.clearfix:after{content:"200B";height:0;font-size:0;display:block;clear:both;}
.clearfix{*zoom:1;}
a:hover{cusor:poiter;}
.header,.inner,.focus,.favorite,#fashion-star,#luxury,#beauty-b,#products,#blog,.allproducts{width:1180px;margin:0 auto;}

/*轮播图*/
.pic-play{width:820px;height:480px;overflow:hidden;position:relative;float:left;}
.pic-play ul{width:2460px;position:absolute;left:-820px;top:0;}
.pic-play li{float:left;width:820px;height:480px;overflow:hidden;position:relative;}
.pic-play li img{transition:all 1s;}
.pic-play li:hover img{transform:scale(1.05);}
.pic-play li .text{position:absolute;bottom:0;left:0;height:98px;background:rgba(0,0,0,0.8);width:760px;text-align:left;padding:25px 35px 0;}
.pic-play li .text h4{font-size:20px;line-height:31px;height:31px;font-weight:normal;width:760px;overflow:hidden;text-overflow:ellipsis;}
.pic-play li .text a{color:#fff;}
.pic-play li .text p{font-size:16px;color:#fff;line-height:33px;height:33px;width:760px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.pic-play .arrow a{display:block;width:45px;height:60px;background-image:url(../images/arrow.png);background-repeat: no-repeat;z-index:10;position:absolute;top:210px;}
.pic-play .arrow-l a{background-position: 0 -160px;left:0;}
.pic-play .arrow a:hover{background-color:rgba(0,0,0,0.5);}
.pic-play .arrow-l a:hover{background-position:-24px -9px;}
.pic-play .arrow-r a{background-position:12px -220px;right:0;}
.pic-play .arrow-r a:hover{background-position:-13px -90px;}

body{position:relative;}
/*header*/
@keyframes logo-run{
	0%{transform:scale(0);}
	100%{transform:scale(1.01);}
	}
.header .logo{text-align:center;padding-top:28px;font-size:0;animation:logo-run 1s linear;transition:all 1s;animation-fill-mode:forwards;}
.header .login{float:right;line-height:16px;padding-bottom:14px;}
.header .login a{font-size:14px;color:#000;}
.header .login a:hover{color:#ba9e66;}
.header .login span{padding:0 11px;color:#000;}
/*nav*/
.nav{height:60px;background:#000;}
.nav .inner{position: relative;}
.nav .nav-top{position:relative;}
.nav .nav-list{padding-left:12px;float:left;}
.nav .nav-list li{float:left;margin-right:80px;}
.nav .nav-list li a{font-size:18px;color:#fff;line-height:60px;}
.nav .nav-list li a:hover{color:#ba9e42;}
.nav .nav-list li:hover .fashion{display:block;z-index:3;}
.nav .nav-list li .fashion{height:60px;background:#fff;width:1180px;position:absolute;top:60px;left:12px;display:none;}
.nav .nav-list li .fashion a{color:#000;font-size:14px;margin-right:53px;}
.nav .nav-list .searchBtn,.searchHideBtn,.closeSearchBtn{background-image:url(../images/icons1.png);background-repeat: no-repeat;}
.nav .nav-list .searchBtn,.searchHideBtn{display:inline-block;width:25px;height:25px;background-position: -576px 0;}
.nav .nav-list .searchBtn{margin-top: 18px;margin-left:4px;}
.searchForm{width: 1180px;height: 0;position: absolute;left: 0;top: 0;font-size: 0;overflow: hidden;}
.searchForm form{height:60px;background: #000;}
.nav .searchBox{width:946px;height:30px;font-size:14px;color:#ccd3de;margin-top: 15px;padding-left: 14px;font-family: "微软雅黑";margin-right: 20px;background-color: #fff;}
.searchHideBtn{vertical-align: -8px;}
.closeSearchBtn{display:inline-block;width: 16px;height: 16px;background-position: -554px -4px;margin-left: 18px;vertical-align: -2px;}
.closeSearchBtn:hover{cursor: pointer;}
.nav .hotpro{height: 60px;line-height: 60px;background: #fff;padding-left: 11px;}
.nav .hotpro a{font-size:14px;color:#000;margin-right: 17px;}
/*nav-bot*/
.nav-bot{height:60px;position:relative;}
.nav-bot ul{width:1168px;padding-top:18px;padding-left:12px;}
.nav-bot li{float:left;margin-right:53px;}
.nav-bot li:hover .code-1,.nav-bot li:hover .code-2,.nav-bot li:hover .code-3,.nav-bot li:hover .code-4{display:block;z-index:5;}
.nav-bot li a{color:#000;font-size:14px;display:block;height:24px;line-height:24px;}
.nav-bot li a:hover{color:#ba9e66;}
.nav-bot li .chat{padding-left:25px;background:url(../images/icons1.png) no-repeat left top;}
.nav-bot li .ol{padding-left:17px;background:url(../images/icons1.png) no-repeat -121px 0;}
.nav-bot li .underline{color:#ba9e66;}
.nav-bot li .underline:hover{text-decoration:underline;}
.nav-bot li .code-1{background:url(../images/erweima.png) no-repeat left top;width:130px;height:130px;position:absolute;top:42px;left:-8px;display:none;}
.nav-bot li .code-2{background:url(../images/erweima.png) no-repeat 0 -260px;width:130px;height:130px;position:absolute;top:42px;left:144px;display:none;}
.nav-bot li .code-3{background:url(../images/erweima.png) no-repeat 0 -780px;width:130px;height:130px;position:absolute;top:42px;left:273px;display:none;}
.nav-bot li .code-4{background:url(../images/erweima.png) no-repeat 0 -520px;width:130px;height:130px;position:absolute;top:42px;left:404px;display:none;}
/*banner*/
.banner{height:550px;background:url(../images/banner-bg.png) no-repeat center top;background-size:cover;min-width:1180px;overflow: hidden;margin-top: 60px;}
.banner .inner{width:1180px;height:550px;margin:0 auto;position:relative;}
.banner .pic-list{width:5900px;position:absolute;left:-1180px;top:0;}
.banner .pic-list li{float:left;width:1180px;height:550px;overflow:hidden;position:relative;}
.banner .pic-list li img{transition:all 1s;}
.banner .pic-list li:hover img{transform:scale(1.05);}
.banner .pic-list li:hover .text a{color:#ba9e66;}
.banner .pic-list:hover{animation-play-state:paused;}  .leftCover,.rightCover{width: 1180px;height: 550px;background-color: #000;opacity: 0.5;filter: alpha(opacity=50);position: absolute;top:0;}
.leftCover{left: -100%;}
.rightCover{left: 100%}
.banner .arrow{display:block;width:34px;height:60px;
    background-image:url(../images/arrow.png);background-repeat: no-repeat;z-index:10;position:absolute;top: 50%;margin-top: -30px;}
.banner .arrow:hover{cursor: pointer;}
.banner .arrow-l{background-position: 0 -160px;left:-50px;}
.banner .arrow-l:hover{background-position:-24px -9px;}
.banner .arrow-r{background-position: 0 -220px;right:-50px;}
.banner .arrow-r:hover{background-position:-24px -90px;}
.banner ul li .text{position:absolute;bottom:0;left:0;height:80px;background-color:#000;opacity:0;width:100%;padding-top:25px;}
.banner ul li .text .info{float:left;padding-left:34px;}
.banner ul li .text h4{font-size:20px;line-height:31px;height:31px;font-weight:normal;width:780px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.banner ul li .text a{color:#fff;}
.banner ul li .text p{font-size:16px;color:#fff;line-height:29px;height:29px;width:780px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.banner .num{position: absolute;bottom: 14px;right: 7px;background: url("../images/num-line.png") no-repeat 0 100%;width: 60px;height: 64px;}
.banner .num span{font-size:20px;color:#bbb;display: block;line-height: 30px;}
.banner .num-focus{text-align:right;padding-right: 18px;}
.banner .num-total{text-align:left;padding-left: 24px;margin-top: 5px;}
/*focus*/
.focus{padding-top:30px;padding-bottom:40px;}
.focus .news{float:left;width:820px;}
.focus .news .title{height:72px;}
.focus .theme{width:236px;height:48px;background:url(../images/f-logo_03.jpg) no-repeat left top;float:left;}
.focus .time{float:right;width:161px;height:30px;background:#333;font-size:18px;color:#fff;text-align:center;line-height:30px;margin-top:42px;}
.focus .content{width:820px;height:490px;overflow:hidden;}
.focus .content .tab-nav{width:250px;height:425px;background:#222;position:relative;padding-top:65px;float: left;}
.focus .tab-nav .title{display:block;height:38px;line-height:38px;font-size:14px;color:#fff;padding-left:30px;}
.focus .tab-nav .active{background:#ba9e66;}
.focus .tab-content{width:570px;height:490px;float: left;position: relative;overflow: hidden;}
.focus .tab-content .item{display: none;}
.focus .tab-content img{position: absolute;left: 0;top: 0;transition:all 1s;}
.focus .tab-nav li:hover{background:#ba9e66;}
.focus .tab-content img:hover{transform:scale(1.02);}
.focus .news .bot-pic{margin-top:40px;width:820px;height:120px;overflow:hidden;}
.focus .pic{float:right;width:320px;overflow:hidden;margin-top:72px;font-size:0;}
.focus .pic .bot-pic{margin-top:40px;width:320px;height:120px;overflow:hidden;}
/*favorite*/
.favorite{text-align:center;}
.favorite .fa-title h4{width:294px;height:44px;background:url(../images/h2_title.jpg) no-repeat left top;margin:0 auto;position:relative;}
.favorite .fa-title h4:before{content:"";width:443px;height:1px;background:#000;position:absolute;right:294px;top:27px;}
.favorite .fa-title h4:after{content:"";width:443px;height:1px;background:#000;position:absolute;left:294px;top:27px;}
.favorite .fa-title h5{font-size:32px;color:#000;font-weight:normal;height:91px;line-height:91px;}

.favorite .content .list{float:left;width:366px;height:300px;margin-right:41px;margin-bottom:41px;position:relative;overflow:hidden;}
.favorite .content .special{margin-right:0;}
.favorite .content .list .text{display:block;width:366px;height:40px;background:rgba(0,0,0,0.8);position:absolute;bottom:0;font-size:14px;color:#fff;line-height:40px;}
.favorite .content .list img{transition:all 0.5s;}
.favorite .content .list:hover img{transform:scale(1.05);}
.favorite .content .list h5{font-size:24px;color:#000;height:27px;line-height:27px;font-weight:normal;position:relative;width:116px;margin-left:125px;}
.favorite .content .list h5:before{content:"";width:125px;height:1px;background:#000;position:absolute;right:116px;top:14px;}
.favorite .content .list h5:after{content:"";width:125px;height:1px;background:#000;position:absolute;left:116px;top:14px;}
.favorite .content .list .fashion{float:left;width:177px;}
.favorite .content .list .fashion li{float:left;width:88px;text-align:left;height:44px;line-height:44px;}
.favorite .content .list .fashion p{font-size:18px;height:53px;line-height:53px;padding-top:5px;}
.favorite .content .list .fashion li a{font-size:16px;}
.favorite .content .list .fashion li a:hover{color:#ba9e66;}
.favorite .content .list .beauty{margin-left:12px;position:relative;}
.favorite .content .list .beauty:before{content:"";width:1px;height:200px;background:#ccc;position:absolute;left:-12px;top:70px;}
.favorite .btn{display:inline-block;width:200px;height:40px;border:2px solid #ba9e66;color:#ba9e66;font-size:18px;line-height:40px;margin-bottom:40px;position:relative;overflow:hidden;}
.favorite .btn:before{content:"";width:1px;height:40px;background:#ba9e66;position:absolute;left:50%;top:0;transition:all 1s;opacity:0}
.favorite .btn:hover:before{transform:scaleX(300);z-index:-1;opacity:1;}
.favorite .btn:hover{color:#fff;}
/*fashion-star*/
#fashion-star{text-align:center;}
#fashion-star .title{position:relative;}
#fashion-star .title h4{width:260px;height:44px;background:url(../images/h2_title.jpg) no-repeat left -54px;margin:0 auto;position:relative;margin-bottom:29px;}
#fashion-star .title h4:before{content:"";width:460px;height:1px;background:#000;position:absolute;right:260px;top:27px;}
#fashion-star .title h4:after{content:"";width:460px;height:1px;background:#000;position:absolute;left:260px;top:27px;}
#fashion-star .title .mid{font-size:32px;color:#000;font-weight:normal;padding-left:72px;padding-right:88px;line-height:30px;}
#fashion-star .title .sp1{width:489px;text-align:right;}
#fashion-star .title .sp1 a{font-size:18px;margin-left:18px;line-height:30px;}
#fashion-star .title .sp2 a{font-size:18px;margin-right:18px;line-height:30px;}
#fashion-star .title span a:hover{color:#bb9d67;}
#fashion-star .content-t{padding-top:31px;}
#fashion-star .content-t .list{float:left;width:320px;text-align:left;padding-left:40px;}
#fashion-star .content-t .list span{display:block;width:102px;height:32px;background:url(../images/toplist.png) no-repeat;}
#fashion-star .content-t .list ul{background:url(../images/num_icon.png) no-repeat 5px 16px;padding-top:15px;}
#fashion-star .content-t .list li{font-size:18px;padding-left:36px;height:48px;line-height:48px;white-space:nowrap;border-bottom:1px solid #ddd;width:284px;overflow:hidden;text-overflow:ellipsis;}
#fashion-star .content-t .list li a:hover{color:#d8b866;}
#fashion-star .content-t .list .pic{width:320px;height:100px;overflow:hidden;margin-top:40px;}
#fashion-star .content-m{padding:40px 0;}
#fashion-star .content-m .pic-list{float:left;width:390px;height:277px;margin-right:40px;position:relative;overflow:hidden;}
#fashion-star .content-m .pic-list .text{display:block;width:390px;height:40px;background:rgba(0,0,0,0.8);position:absolute;bottom:0;font-size:14px;color:#fff;line-height:40px;}
#fashion-star .content-m .pic-list img{transition:all 0.5s;}
#fashion-star .content-m .pic-list:hover img{transform:scale(1.05);}
#fashion-star .content-m .pic-play{width:320px;height:280px;float:left;overflow:hidden;position:relative;}
 @keyframes fs-run {
           0%,50%{left: 0;}
            51%,99%{left: -320px;}
			100%{left:-640px;}
        }
#fashion-star .content-m ul{width:640px;position:absolute;left:0;animation:fs-run 6s linear infinite;}
#fashion-star .content-m ul li{float:left;width:320px;height:280px;overflow:hidden;}
#fashion-star .content-m ul li img{transition:all 1s;}
#fashion-star .content-m ul li:hover img{transform:scale(1.05);}
#fashion-star .content-b .compaction{float:left;}
#fashion-star .content-b .compaction h5{font-size:24px;height:52px;line-height:52px;width:116px;margin-left:352px;position:relative;padding-bottom:22px;}
#fashion-star .content-b .compaction h5:before{content:"";width:352px;height:1px;background:#000;position:absolute;right:116px;top:26px;}
#fashion-star .content-b .compaction h5:after{content:"";width:352px;height:1px;background:#000;position:absolute;left:116px;top:26px;}
#fashion-star .content-b .compaction .thing{width:246px;height:258px;overflow:hidden;background:url(../images/bg_02_01.png) no-repeat left top;float:left;margin-right:40px;position:relative;}
#fashion-star .content-b .compaction .thing a{display:block;width:226px;height:238px;margin-left:10px;margin-top:10px;}
#fashion-star .content-b .compaction .thing a:hover .text{display:block;}
#fashion-star .content-b .compaction .thing .text{width:196px;height:238px;background:rgba(0,0,0,0.5);position:absolute;top:10px;left:10px;color:#fff;padding: 0 15px;display:none;}
#fashion-star .content-b .compaction .thing p{padding-top:80px;height:40px;line-height:40px;width:200px;border-bottom:1px solid #fff;}
#fashion-star .content-b .compaction .thing span{line-height:35px;}
#fashion-star .content-b .advert{float:left;width:320px;height:334px;overflow:hidden;}
#fashion-star .content-b .advert img{transition:all 1s;}
#fashion-star .content-b .advert:hover img{transform:scale(1.02);}
#fashion-star .brand{padding:40px 0;}
/*luxury*/
#luxury{text-align:center;}
#luxury .title{position:relative;}
#luxury .title h4{width:254px;height:54px;background:url(../images/h2_title.jpg) no-repeat left -162px;margin:0 auto 29px;position:relative;}
#luxury .title h4:before{content:"";width:463px;height:1px;background:#000;position:absolute;right:254px;top:27px;}
#luxury .title h4:after{content:"";width:463px;height:1px;background:#000;position:absolute;left:254px;top:27px;}
#luxury .title .mid{font-size:32px;color:#000;font-weight:normal;padding-left:72px;padding-right:88px;line-height:30px;}
#luxury .title .sp1{width:489px;text-align:right;}
#luxury .title .sp1 a{font-size:18px;margin-left:18px;line-height:30px;}
#luxury .title .sp2 a{font-size:18px;margin-right:18px;line-height:30px;}
#luxury .title span a:hover{color:#bb9d67;}
#luxury .content-t{padding-top:31px;}
#luxury .content-t .bridal{float:right;width:320px;font-size: 0;}
#luxury .content-t .bridal h5{font-size:18px;font-weight:normal;height:21px;line-height:21px;}
#luxury .content-t .bridal p{font-size:14px;height:26px;line-height:26px;width:69px;margin-left:125px;position:relative;margin-bottom:3px;}
#luxury .content-t .bridal p:before{content:"";width:125px;height:1px;background:#ddd;position:absolute;right:69px;top:13px;}
#luxury .content-t .bridal p:after{content:"";width:125px;height:1px;background:#ddd;position:absolute;left:69px;top:13px;}
#luxury .content-t .bridal .pic{position:relative;overflow:hidden;}
#luxury .content-t .bridal .text{display:block;width:320px;height:40px;background:rgba(0,0,0,0.8);position:absolute;bottom:0;font-size:14px;color:#fff;line-height:40px;}
#luxury .content-t .bridal img{transition:all 0.5s;}
#luxury .content-t .bridal .pic:hover img{transform:scale(1.02);}
#luxury .content-b{padding-top:18px;}
#luxury .content-b .left{float:left;}
#luxury .content-b .pic-list{float:left;width:220px;}
#luxury .content-b .pic-list h5{color:#ba9e66;font-weight:normal;font-size:18px;height:67px;line-height:67px;width:92px;margin-left:64px;position:relative;}
#luxury .content-b .pic-list h5:before{content:"";width:64px;height:1px;background:#ba9e66;position:absolute;right:92px;top:33px;}
#luxury .content-b .pic-list h5:after{content:"";width:64px;height:1px;background:#ba9e66;position:absolute;left:92px;top:33px;}
#luxury .content-b .pic{position:relative;overflow:hidden;}
#luxury .content-b .text{display:block;width:220px;height:40px;background:rgba(0,0,0,0.8);position:absolute;bottom:0;font-size:14px;color:#fff;line-height:40px;}
#luxury .content-b img{transition:all 0.5s;}
#luxury .content-b .pic:hover img{transform:scale(1.05);}
#luxury .content-b .pic-l-m{padding:0 80px;position:relative;}
#luxury .content-b .pic-l-m:before{content:"";width:1px;height:130px;background:#ccc;position:absolute;left:40px;top:127px;}
#luxury .content-b .pic-l-m:after{content:"";width:1px;height:130px;background:#ccc;position:absolute;right:40px;top:127px;}
#luxury .content-b .right{float:right;width:320px;height:294px;overflow:hidden;padding-top:26px;}
#luxury .brand{padding:40px 0;}
/*beauty-b*/
#beauty-b{text-align:center;}
#beauty-b .title{position:relative;}
#beauty-b .title h4{width:245px;height:54px;background:url(../images/h2_title.jpg) no-repeat left -216px;margin:0 auto;position:relative;margin-bottom:29px;}
#beauty-b .title h4:before{content:"";width:467px;height:1px;background:#000;position:absolute;right:245px;top:27px;}
#beauty-b .title h4:after{content:"";width:467px;height:1px;background:#000;position:absolute;left:245px;top:27px;}
#beauty-b .title .mid{font-size:32px;color:#000;font-weight:normal;padding-left:72px;padding-right:88px;line-height:30px;}
#beauty-b .title .sp1{width:489px;text-align:right;}
#beauty-b .title .sp1 a{font-size:18px;margin-left:18px;line-height:30px;}
#beauty-b .title .sp2 a{font-size:18px;margin-right:18px;line-height:30px;}
#beauty-b .title span a:hover{color:#bb9d67;}
#beauty-b .content-t{padding-top:31px;}
#beauty-b .content-t .baby{float:right;width:320px;height:480px;overflow:hidden;position:relative;}
#beauty-b .content-t .baby img{transition:all 0.5s;}
#beauty-b .content-t .baby:hover img{transform:scale(1.05);}
#beauty-b .content-t .baby .text{display:block;width:280px;height:383px;border:20px solid rgba(240,228,226,0.8);border-bottom:77px solid rgba(240,228,226,0.8);position:absolute;left:0;top:0;}
#beauty-b .content-t .baby .text-in{position:absolute;top:395px;left:80px;}
#beauty-b .content-t .baby .text-in p{font-size:18px;height:35px;line-height:35px;position:relative;}
#beauty-b .content-t .baby .text-in p:before{content:"";width:70px;height:1px;background:#000;position:absolute;right:110px;top:18px;}
#beauty-b .content-t .baby .text-in p:after{content:"";width:70px;height:1px;background:#000;position:absolute;left:110px;top:18px;}
#beauty-b .content-t .baby .text-in span{font-size:14px;}
#beauty-b .content-b{padding-top:40px;}
#beauty-b .content-b .left{float:left;width:860px;}
#beauty-b .content-b .left li{float:left;width:246px;height:300px;margin-right:40px;position:relative;overflow:hidden;margin-bottom:40px;}
#beauty-b .content-b .left .text{display:block;width:246px;height:40px;background:rgba(0,0,0,0.8);position:absolute;bottom:0;font-size:14px;color:#fff;line-height:40px;}
#beauty-b .content-b .left img{transition:all 0.5s;}
#beauty-b .content-b .left li:hover img{transform:scale(1.05);}
#beauty-b .content-b .right{float:right;width:320px;}
#beauty-b .content-b .right .top{padding-bottom:40px;}
#beauty-b .content-b .right .top a:hover{color:#bb9e66;}
#beauty-b .content-b .right .pic{width:320px;height:230px;overflow:hidden;margin-bottom:8px;}
#beauty-b .content-b .right .pic img{transition:all 0.5s;}
#beauty-b .content-b .right .pic:hover img{transform:scale(1.05);}
#beauty-b .content-b .right .text{padding:5px 24px;text-align:left;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
#beauty-b .content-b .right .text a{font-size:14px;line-height:25px;position:relative;}
#beauty-b .content-b .right .text a:before{content:"";width:4px;height:4px;border-radius:2px;background:#ba9e66;position:absolute;left:-14px;top:5px;}
#beauty-b .brand{padding-bottom:40px;}
/*products*/
#products{text-align:center;}
#products .title{position:relative;}
#products .title h4{width:276px;height:44px;background:url(../images/h2_title.jpg) no-repeat left -270px;margin:0 auto;position:relative;margin-bottom:29px;}
#products .title h4:before{content:"";width:453px;height:1px;background:#000;position:absolute;right:276px;top:27px;}
#products .title h4:after{content:"";width:453px;height:1px;background:#000;position:absolute;left:276px;top:27px;}
#products .title .mid{font-size:32px;color:#000;font-weight:normal;padding-left:72px;padding-right:88px;line-height:30px;}
#products .title .sp1{width:489px;text-align:right;}
#products .title .sp1 a{font-size:18px;margin-left:18px;line-height:30px;}
#products .title .sp2 a{font-size:18px;margin-right:18px;line-height:30px;}
#products .title span a:hover{color:#bb9d67;}
#products .content-t{padding-top:31px;}

#products .content-t .free{float:right;width:320px;}
#products .content-t .free h5{font-weight:normal;font-size:18px;height:22px;line-height:22px;}
#products .content-t .free h6{font-size:14px;line-height:31px;font-weight:normal;width:56px;margin-left:132px;position:relative;padding-bottom:13px;}
#products .content-t .free h6:before{content:"";width:132px;height:1px;background:#ddd;position:absolute;right:56px;top:15px;}
#products .content-t .free h6:after{content:"";width:132px;height:1px;background:#ddd;position:absolute;left:56px;top:15px;}
#products .content-t .free .thing{padding-bottom:40px;}
#products .content-t .free .pic{width:160px;height:150px;border:1px solid #ddd;overflow:hidden;float:left;}
#products .content-t .free .pic:hover img{transform:scale(1.05);}
#products .content-t .free .pic img{width:160px;height:150px;transition:all 0.5s;}
#products .content-t .free .text{text-align:left;padding-left:28px;float:left;width:130px;overflow:hidden;white-space:nowrap;font-size:14px;line-height:25px;}
#products .content-t .free .text span{color:#ba9e66;}
#products .content-t .free .text a{display:block;width:78px;height:28px;border:1px solid #ba9e66;line-height:28px;text-align:center;color:#ba9e66;margin-top:20px;}
#products .content-t .free .text a:hover{color:#fff;background:#ba9e66;}
#products .content-t .free .change{display:block;width:84px;height:28px;border:1px solid #ddd;margin-left:118px;position:relative;line-height:28px;font-size:14px;}
#products .content-t .free .change:hover{color:#ba9e66;border:1px solid #ba9e66;}
#products .content-t .free .change:before{content:"";width:114px;height:1px;background:#ddd;position:absolute;left:90px;top:13px;}
#products .content-t .free .change:after{content:"";width:114px;height:1px;background:#ddd;position:absolute;right:90px;top:13px;}
#products .content-b .newthing{width:820px;border-top:1px solid #000;margin-top:77px;float:left;}
#products .content-b .newthing .list{padding:37px 31px 40px;}
#products .content-b .newthing h5{font-size:24px;font-weight:normal;width:115px;height:24px;line-height:24px;margin-left:352px;margin-top:-12px;background:#fff;}
#products .content-b .newthing .pic{float:left;width:224px;height:248px;position:relative;overflow:hidden;border:1px solid #ddd;}
#products .content-b .newthing .pic-m{margin:0 40px;}
#products .content-b .newthing .text{display:block;width:224px;height:30px;background:rgba(0,0,0,0.8);position:absolute;bottom:0;font-size:14px;color:#fff;line-height:30px;}
#products .content-b .newthing .pic img{transition:all 0.5s;}
#products .content-b .newthing .pic:hover img{transform:scale(1.05);}
#products .content-b .newthing .keywords{width:818px;height:94px;border:1px solid #ddd;padding-top:24px;text-align:left;}
#products .content-b .newthing .hot{float:left;padding-left:15px;width:99px;border-right:1px solid #000;}
#products .content-b .newthing .hot span{font-size:16px;line-height:35px;}
#products .content-b .newthing .hot p{font-size:18px;height:34px;line-height:34px;padding-top:14px;position:relative;}
#products .content-b .newthing .hot p:before{content:"";width:11px;height:1px;background:#000;position:absolute;left:0;top:2px;}
#products .content-b .newthing .search{float:left;padding-top:13px;}
#products .content-b .newthing .search .th-list li{float:left;padding:0 13px;border-right:1px solid #000;font-size:14px;height:15px;line-height:15px;}
#products .content-b .newthing .search .th-list li a:hover{color:#bb9e66;}
#products .content-b .newthing .form{padding-top:21px;padding-left:23px;}
#products .content-b .newthing .form li{float:left;position:relative;margin-right:48px;width:174px;height:24px;border:1px solid #000;padding-left:10px;color:#767676;}
#products .content-b .newthing .form li:hover .a-list{display:block;}
#products .content-b .newthing .form li:hover .main-a{color:#bb9e66;background-position:145px -80px;}
#products .content-b .newthing .form form span{width:1px;height:17px;background:#000;position:absolute;right:24px;top:4px;}
#products .content-b .newthing .form form button{width:32px;height:24px;background:url(../images/searchIcon.png) no-repeat 13px 7px;border:none;position:absolute;right:0;top:0;}
#products .content-b .newthing .form{font-size:14px;line-height:24px;}
#products .content-b .newthing .form .main-a{display:block;background:url(../images/checkIcon.png) no-repeat 145px 4px;}
#products .content-b .newthing .form .brand{margin-right:0;}
#products .content-b .newthing .form .a-list{width:184px;height:120px;border:1px solid #000;position:absolute;left:-1px;top:24px;display:none;background:#fff;}
#products .content-b .newthing .form .a-list a{display:block;padding-left:10px;}
#products .content-b .newthing .form .a-list a:hover{color:#bb9e66;}
#products .content-b .cosmetics{float:right;width:320px;}
#products .content-b .cosmetics h5{font-size:18px;height:78px;line-height:78px;border-bottom:1px solid #ddd;}
#products .content-b .cosmetics p{font-size:14px;height:11px;line-height:11px;width:114px;background:#fff;margin:-6px 0 43px 103px;}
#products .content-b .cosmetics .pic-play{width:320px;height:250px;float:left;overflow:hidden;position:relative;}
 @keyframes fs-run {
           0%,50%{left: 0;}
            51%,99%{left: -320px;}
			100%{left:-640px;}
        }
#products .content-b .cosmetics ul{width:640px;position:absolute;left:0;animation:fs-run 6s linear infinite;}
#products .content-b .cosmetics ul li{float:left;width:320px;height:250px;overflow:hidden;position:relative;}
#products .content-b .cosmetics ul li img{transition:all 1s;}
#products .content-b .cosmetics ul li:hover img{transform:scale(1.05);}
#products .content-b .cosmetics li .text{display:block;height:30px;width:320px;line-height:30px;font-size:14px;color:#fff;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0;}
#products .content-b .cosmetics .advert{padding-top:40px;width:320px;height:120px;overflow:hidden;}
#products .c-brand{height:120px;width:1180px;overflow:hidden;padding-top:40px;}
/*blog*/
#blog{text-align:center;padding-top:70px;}
#blog .title{position:relative;padding-bottom:30px;}
#blog .title h4{width:348px;height:54px;background:url(../images/h2_title.jpg) no-repeat left -378px;margin:0 auto;position:relative;margin-bottom:29px;}
#blog .title h4:before{content:"";width:417px;height:1px;background:#000;position:absolute;right:348px;top:27px;}
#blog .title h4:after{content:"";width:417px;height:1px;background:#000;position:absolute;left:348px;top:27px;}
#blog .title .mid{font-size:32px;color:#000;font-weight:normal;padding-left:70px;padding-right:89px;line-height:30px;}
#blog .title .sp1{text-align:right;}
#blog .title .sp2{margin-right:68px;}
#blog .title .sp1 a{font-size:18px;margin-left:18px;line-height:30px;}
#blog .title .sp2 a{font-size:18px;margin-right:18px;line-height:30px;}
#blog .title span a:hover{color:#bb9d67;}
#blog .content-t .view{float:right;width:320px;overflow:hidden;}
#blog .content-t .view h5{font-size:18px;text-align:left;font-weight:normal;height:21px;line-height:21px;}
#blog .content-t .view span{color:#d8e0eb;}
#blog .content-t .view .people-list{height:335px;width:320px;overflow:hidden;padding-top:13px;padding-bottom:11px;}
#blog .content-t .view .people{height:111px;overflow:hidden;}
#blog .content-t .view .pic{float:left;width:80px;height:80px;border:1px solid #ddd;margin-top:5px;overflow:hidden;transition:all 0.5s;}
#blog .content-t .view .pic:hover{transform:scale(1.05);}
#blog .content-t .view a:hover{color:#bb9d67;}
#blog .content-t .view .text{text-align:left;font-size:14px;line-height:24px;padding-left:18px;float:left;width:186px;overflow:hidden;}
#blog .content-m .club{width:822px;float:left;text-align:left;}
#blog .content-m .club dt{font-size:24px;height:90px;line-height:90px;}
#blog .content-m .club dd{width:246px;height:250px;border:1px solid #ddd;float:left;margin-right:39px;position:relative;}
#blog .content-m .club dd:hover .text{display:block;}
#blog .content-m .club dl .last{margin-right:0;}
#blog .content-m .club dl .text{display:block;width:206px;height:210px;background:rgba(0,0,0,0.8);font-size:14px;line-height:35px;padding:20px 20px;color:#fff;position:absolute;left:0px;top:0;display:none;}
#blog .content-m .club dl .text span{display:block;height:35px;width:230px;border-bottom:1px solid #fff;}
#blog .content-m .topic{float:right;width:320px;padding-top:90px;text-align:left;}
#blog .content-m .topic dt{height:21px;line-height:21px;padding-bottom:23px;font-size:18px;}
#blog .content-m .topic dt span{color:#d8e0eb;}
#blog .content-m .topic dd{font-size:14px;height:32px;line-height:32px;}
#blog .content-m .topic dd span{color:#ba9e66;font-weight:bold;}
#blog .content-m .topic dd a:hover{color:#bb9d67;}
#blog .content-b{margin-top:43px;padding-top:41px;border-top:1px solid #000;position:relative;}
#blog .content-b .group{overflow:hidden;height:361px;width:1180px;position:relative;}
#blog .content-b h5{font-size:24px;font-weight:normal;width:234px;background:#fff;position:absolute;left:50%;margin-left:-117px;top:-20px;}
@keyframes blog-run2 {
           0%{left:0;}
			100%{left:-1180px;}
        }
#blog .content-b ul{width:3050px;position:absolute;left:0;top:0;animation:blog-run2 20s linear infinite;}
#blog .content-b ul:hover{animation-play-state:paused;}
#blog .content-b ul li a{display:block;width:205px;height:329px;padding:29px 29px 0;border:1px solid #ddd;font-size:14px;line-height:31px;position:relative;margin-right:40px;float:left;}
#blog .content-b ul li a:hover{color:#bb9d67;}
#blog .content-b ul li a:hover img{transform:scale(1.05);}
#blog .content-b ul li img{transition:all 0.5s;}
#blog .content-b ul li p:before{content:"";width:114px;height:1px;background:#ddd;position:absolute;left:75px;bottom:37px;}
#blog .brand{margin-top:40px;}
/*allproducts*/
.allproducts{padding-top:56px;}
.allproducts dl{width:570px;float:left;margin-right:40px;padding-bottom:16px;}
.allproducts .special{margin-right:0;}
.allproducts dt{height:29px;line-height:29px;border-bottom:1px solid #e5e5e5;margin-bottom:11px;}
.allproducts dt h5{font-size:17px;float:left;}
.allproducts dt span{font-size:14px;float:right;color:#9e9e9e;}
.allproducts dd span{width:114px;font-size:12px;display:inline-block;height:25px;line-height:25px;}
.allproducts dd a{padding-left:5px;}
.allproducts dd a:hover{color:#ba9e65;}
.allproducts .last{width:570px;float:left;}
.allproducts .last .brand{width:302px;margin-right:40px;float:left;}
.allproducts .last span{width:100px;}
.allproducts .last .luxuries{width:228px;float:left;margin-right:0;}
/*spread*/
.spread{border-bottom:4px solid #000;}
.spread .inner{height:697px;position:relative;}
.spread .youmei{width:280px;height:432px;position:absolute;left:0;bottom:0;}
.spread .youmei a{width:280px;height:432px;display:block;background:url(../images/spread.png) no-repeat left top;}
.spread .youmei a:hover{background-position:-280px 0;}
.spread .fashion-app{width:370px;height:672px;position:absolute;left:280px;bottom:0;z-index:2;}
.spread .fashion-app a{width:370px;height:672px;display:block;background:url(../images/spread.png) no-repeat left -499px;}
.spread .fashion-app a:hover{background-position:-370px -499px;}
.spread .move{width:370px;height:640px;position:absolute;left:580px;bottom:0;z-index:1;}
.spread .move a{width:370px;height:640px;display:block;background:url(../images/spread.png) no-repeat -742px -500px;}
.spread .move a:hover{background-position:-1112px -500px;}
.spread .wechat{width:230px;height:432px;position:absolute;right:0;bottom:0;}
.spread .wechat a{width:230px;height:432px;display:block;background:url(../images/spread.png) no-repeat -558px 0;}
.spread .wechat a:hover{background-position:-788px 0;}
/*footer*/
.footer{height:390px;background:#f4f4f4;}
.footer a:hover{color:#ba9e65;}
.footer .inner{width:1180px;margin:0 auto;}
.footer .inner dt{font-size:20px;height:52px;line-height:52px;}
.footer .inner dd a{font-size:12px;line-height:26px;margin-right:4px;white-space:nowrap;}
.footer .inner .about{height:51px;width:1057px;border-bottom:1px solid #c9c9c9;border-top:1px solid #c9c9c9;margin-top:13px;padding-left:123px;}
.footer .inner ul li{float:left;font-size:14px;height:51px;line-height:51px;}
.footer .inner span{padding:0 14px;}
.footer .copyright{text-align:center;font-size:12px;color:#888;line-height:24px;padding-top:16px;}
.footer .certification{width:591px;margin:0 auto;padding-top:15px;}
.footer .certification a{font-size:12px;display:block;float:left;margin-right:12px;border:1px solid #ccc;text-align:center;}
.footer .certification span{display:inline-block;text-align:left;padding:0;}
.footer .certification .c-1{width:123px;padding-top:11px;height:61px;}
.footer .certification .c-2{width:57px;padding-top:11px;height:61px;}
.footer .certification .c-3{width:166px;height:72px;}
.footer .certification .c-3 img{width:36px;height:51px;}
.footer .certification .c-4{width:184px;padding-top:10px;height:62px;}
.footer .certification .c-4 img{width:34px;height:37px;}
/*side-nav*/
.side-nav{position:fixed;bottom:32px;right:1%;}
.side-nav li{padding-bottom:1px;}
.side-nav li a{display:block;width:32px;height:32px;background:url(../images/sideNavBg.png) no-repeat 0 -50px;color:#fff;text-align:center;font-size:14px;padding:9px;transition:all 0.5s;}
.side-nav li a:hover{background-position:-50px -50px;}
.side-nav .top a{background-position:0 0;}
.side-nav .top a:hover{background-position:-50px 0;}
.side-nav .code a{height:64px;background-position:0 -105px;position:relative;}
.side-nav .code a:hover{background-position:0 -105px;}
.side-nav .code2 a:hover{background-position:-50px -105px;}
.side-nav .code2 a{background-position:-50px -105px;}
.side-nav span{width:130px;height:130px;background:url(../images/erweima.png) no-repeat left top;position:absolute;left:-130px;top:0px;display:none;}
.side-nav .code a:hover span{display:block;}