<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>

<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<link href="../../css/flexo.css" rel="stylesheet">
<link href="../../css/wedding.css" rel="stylesheet">
<script src="../../js/jquery.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/nav.js"></script>
<script src="../../js/wedding.js"></script>

<body>
<div class="wrap">
    <header>

            <h2>商务办公</h2>
            <a class="back" href="../meeting/report.html"><i class="fa fa-angle-left"></i></a>
            <span class="right_men"><i class="fa fa-bars"></i></span>

    </header>
    <section>
        <ul class="piclist clearfix">
            <li>
                <img src="../../images/h1.jpg" >

            </li>
            <li>
                <img src="../../images/shang1_03.png" >

            </li>
            <li>
                <img src="../../images/h2.jpg" >

            </li>
            <li>
                <img src="../../images/shang1_03.png" >

            </li>
            <li>
                <img src="../../images/h5.jpg" >

            </li>
            <li>
                <img src="../../images/shang1_03.png" >

            </li>
            <li>
                <img src="../../images/h7.jpg" >

            </li>
            <li>
                <img src="../../images/h8.jpg" >

            </li>

            <li>
                <img src="../../images/shang1_03.png" >

            </li>
        </ul>
        <div class="text">
            <p>北苑大酒店温泉水疗中心占地2万㎡，</p>
            <p>拥有京城北部独具特色的露天温泉，</p>
            <p>使用地下深采温泉水源。</p>
            <p>极致个性化的服务理念与全球流行的娱乐休闲方式结合</p>
        </div>
    </section>

    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>