<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>
<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/hot.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/hhtfroom.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<link href="../../css/tea.css" rel="stylesheet">
<script src="../../js/index.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/hot.js"></script>
<script src="../../js/nav.js"></script>
<script src="../../js/callOrder.js"></script>

<body>
<div class="wrap">
    <header>
        <h2>餐饮美食</h2>
        <a class="back" href="cate.html"><i class="fa fa-angle-left"></i></a>
        <span class="right_men"><i class="fa fa-bars"></i></span>
    </header>
    <aside>
        <div class="slide">
            <ul class="slide_pic">
                <li><img src="../../images/meis_02.png"> </li>
                <li><img src="../../images/meis_02.png"> </li>
                <li><img src="../../images/meis_02.png"> </li>
            </ul>
            <ul class="point">
                <li class="ac"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </aside>
    <section class="section1" style="display: block;">
        <h3>大堂吧</h3>
       <div class="wqtext">
            <p> 你需要的是一份有情怀的美食</p>
            <p>湘，本心所在，热情火辣</p>
            <p>  粤，味随季变，情在菜中</p>
           <p>  甘鲜醇厚尽在舌尖</p>
           <p> 一馐一馔无不包容湘情粤意</p>

       </div>
        <ul class="tf_text">
            <li><p class="text">地点：酒店1层 自助餐厅</p></li>
            <li><p class="text">营业时间：</p></li>
            <li><p class="text">午餐:10:30-14:30</p></li>
            <li><p class="text">晚餐:15:30-22:00</p></li>
        </ul>
        <div class="order">立即预定</div>
        <div class="phone">
            <div class="top">010-84832266</div>
            <span class="cancel">取消</span>
            <span class="call">通话</span>
        </div>
    </section>

    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>