<ion-view view-title="HighGo">
    <i class="icon ion-navicon"></i>
    <ion-content ng-controller="homeCtrl" class="home-content">
        <!--轮播图-->
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="2500">
            <ion-slide>
                <div class="home-slide-box">
                    <img src="images/home/play1.jpg"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="home-slide-box">
                    <img src="images/home/play2.jpg"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="home-slide-box">
                    <img src="images/home/play3.jpg"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="home-slide-box">
                    <img src="images/home/play4.jpg"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="home-slide-box">
                    <img src="images/home/play5.jpg"/>
                </div>
            </ion-slide>
        </ion-slide-box>
        <!--秒杀区-->
        <div class="miaosha">
            <h5>全球秒杀</h5>
            <p>距离本场结束：{{time|date:"HH:mm:ss"}}</p>
            <ion-scroll direction="x" style="overflow: hidden;height: 160px;" scrollbar-x="false" >
                <div class="row">
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha1.jpg"/></div>
                        <strong class="price">￥399<span>￥455</span></strong>
                        <a class="title">秋冬必备卫衣</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha2.jpg"/></div>
                        <strong class="price">￥165<span>￥300</span></strong>
                        <a class="title">刘雯同款口红</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha3.jpg"/></div>
                        <strong class="price">￥1599<span>￥4550</span></strong>
                        <a class="title">Coach限时抢</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha1.jpg"/></div>
                        <strong class="price">￥2499<span>￥3550</span></strong>
                        <a class="title">杨幂同款手袋</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha5.jpg"/></div>
                        <strong class="price">￥618<span>￥899</span></strong>
                        <a class="title">天然补水套装</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha6.jpg"/></div>
                        <strong class="price">￥366<span>￥499</span></strong>
                        <a class="title">限量冬季面膜</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha7.jpg"/></div>
                        <strong class="price">￥659<span>￥999</span></strong>
                        <a class="title">大高领温暖貂绒</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha8.jpg"/></div>
                        <strong class="price">￥3680<span>￥5484</span></strong>
                        <a class="title">粉嫩皮草潮起来</a>
                        <a class="qiang">立即抢</a>
                    </div>
                    <div class="list">
                        <div class="miaosha-pic"><img src="images/home/miaosha9.jpg"/></div>
                        <strong class="price">￥840<span>￥1055</span></strong>
                        <a class="title">潮流兔子靴</a>
                        <a class="qiang">立即抢</a>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <!--分类-->
        <div class="home-sort">
            <div class="row" ng-repeat="item in homeProCategory track by $index" ng-if="$index % 2 == 0">
                <div class="col-50 col-left" ui-sref="tabs.home_products"ng-repeat="i in [$index,$index + 1]" ng-if="homeProCategory[i] != null">
                    <p>{{homeProCategory[i].category}}</p>
                    <strong>{{homeProCategory[i].english}}</strong>
                </div>
            </div>
        </div>
        <!--商品-->
        <div class="card home-card" ng-repeat="homeProducts in homeProducts"ng-click="goToDetail(homeProducts)">
            <div class="item" >
                <div class="item-image"><img ng-src="{{homeProducts.imgsrc}}"/></div>
                <h5>{{homeProducts.brand}}</h5>
                <a class="home-card-title">{{homeProducts.title}}</a>
                <p><strong>{{homeProducts.price|currency:"RMB ￥"}}</strong></p>
                <i class="button button-icon ion-ios-heart-outline" ng-click="pinkHeart()" ng-class="isFall?'ion-ios-heart':'ion-ios-heart-outline'"></i>
            </div>
        </div>
    </ion-content>
</ion-view>