<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>

<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<script src="../../js/jquery.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/nav.js"></script>

<body>
<div class="wrap">
    <header>

            <h2>舒适客房</h2>
            <a class="back" href="../../index.html"><i class="fa fa-angle-left"></i></a>
            <span class="right_men"><i class="fa fa-bars"></i></span>

    </header>
    <aside>
        <div class="piclist">
            <img src="../../images/room_02.png">
            <div class="pictext">
                <p>客房设施齐全、舒适</p>
                <p> 房间色调柔和，充满东方古典韵味</p>
                <p>  设有步入式衣帽间，休息区与工作区</p>
                <p> 提供全方位的至尊享受</p>
            </div>


        </div>
        <div class="piclist">
            <a href="hhtfroom.html"> <img src="../../images/room_04.png"></a>
            <div class="pictitle">豪华套房</div>
        </div>
        <div class="piclist">
            <a href="xzroom.html"> <img src="../../images/room_06.png"></a>
            <div class="pictitle">行政套房</div>
        </div>
        <div class="piclist">
            <a href="haohuaroom.html"> <img src="../../images/room_01_02.png"></a>
            <div class="pictitle">豪华大床房</div>
        </div>
        <div class="piclist">
            <a href="teseroom.html"><img src="../../images/room1_02.png"></a>
        <div class="pictitle">精品特色房</div>
        </div>
        <div class="piclist">
            <a href="putongroom.html"> <img src="../../images/room1_04.png"></a>
            <div class="pictitle">普通大床房</div>
        </div>
        <div class="piclist">
            <a href="doubleroom.html"><img src="../../images/room1_06.png"></a>
            <div class="pictitle">标准双人间</div>
        </div>

    </aside>
    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>