<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>北苑大酒店</title>
</head>
<link href="../../css/base.css" rel="stylesheet">
<link href="../../css/amusement.css" rel="stylesheet">
<link href="../../css/hot.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/hhtfroom.css" rel="stylesheet">
<link href="../../css/nav.css" rel="stylesheet">
<script src="../../js/index.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/hot.js"></script>
<script src="../../js/nav.js"></script>
<script src="../../js/order.js"></script>
<body>
<div class="wrap">
    <header>
        <h2>客房预订</h2>
        <a class="back" href="room.html"><i class="fa fa-angle-left"></i></a>
        <span class="right_men"><i class="fa fa-bars"></i></span>
    </header>
    <aside>
        <div class="slide">
            <ul class="slide_pic">
                <li><img src="../../images/xzroom_02.png"> </li>
                <li><img src="../../images/double_02.png"> </li>
                <li><img src="../../images/double_02.png"> </li>
            </ul>
            <ul class="point">
                <li class="ac"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </aside>
    <section class="section1">
        <h3>行政套房</h3>
       <div class="wqtext">
            <p> 客房设施齐全、舒适房间色调柔和，充满东方古典韵味。</p>
            <p>设有步入式衣帽间，休息区与工作区</p>
            <p>  提供全方位的至尊享受。</p>

       </div>
        <ul class="tf_text">
            <li><p class="text"><span></span>液晶屏幕电视</p></li>
            <li><p class="text"><span></span>宽带网线接入  高速无线上网</p></li>
            <li><p class="text"><span></span>迷你酒吧</p></li>
            <li><p class="text"><span></span>全套豪华卫浴用品</p></li>
            <li><p class="text"><span></span>宽敞豪华的大理石浴室</p></li>
        </ul>
        <ul class="tf_text_b">
            <li><p class="text"><span></span>步入式衣帽间</p></li>
            <li><p class="text"><span></span>中央空调系统</p></li>
            <li><p class="text"><span></span>电子密码保险柜</p> </li>
            <li><p class="text"><span></span>免费瓶装水</p></li>
        </ul>



        <div class="order">立即预定</div>
    </section>
    <section class="section2">
        <h4>行政套房</h4>
        <ul class="roominfo">
            <li><p>房间数量</p><div class="num"><span id="cut">-</span><i id="number">1</i><span id="add">+</span></div></li>
            <li><p>入住时间:</p><input type="date" id="date1" ></li>
            <li><p>退房时间:</p><input type="date" id="date2"></li>
            <li><p>备注：</p><input type="text" placeholder="如有附加需求，请填写"></li>
        </ul>
        <ul class="peopleinfo">
            <li>
                <p>联系人:</p>
                <input type="text" placeholder="请输入姓名" class="name">
                <label><input type="radio" name="1" checked class="sex"> 先生</label>
                <label><input type="radio" name="1" class="sex">女士</label>
            </li>
            <li><p>手机号:</p><input type="text" placeholder="请输入手机号"  class="call"></li>
        </ul>
        <div class="agree">
            <div class="agree_title">
                <p class="p1">入住须知</p>
                <p class="p2">客房介绍</p>
            </div>
            <div class="agree_info">
                <p>- 在未提供公司或信用卡担保的情况下，酒店最多保留预订至到
                    店当天下午6点（视酒店当日情况而定）</p>
                <p>- 在担保情况下更改或取消预订请于到店当天下午6点前通知酒
                    店，酒店将有权对其未能及时取消或未抵房间收取第一晚房费</p>
                <p>- 如改变行程提前离店请提前24小时告知前台，酒店将有权对其
                    未能及时通知取消收取一晚房费</p>
                <p>- 对于延迟退房，酒店将按规定收取费用。 下午6点前退房，需
                    支付所付房价的50%，6点以后退房，需支付全天房价</p>
                <p>- 酒店入住时间为下午2点，离店时间为中午12点
                    尽享38平米安静舒适的双床客房 房间特点 房间面积38平方米 </p>
            </div>
        </div>
        <footer>
            <div class="money">总金额：<i id="price">499</i>￥</div>
            <div class="button">立即支付</div>
        </footer>
    </section>
    <nav>
        <span class="right_men"><i class="fa fa-bars"></i></span>
        <ul>
            <li><a href="../../index.html">首页</a> </li>
            <li><a href="../amusement/amusement.html">康体娱乐</a></li>
            <li><a href="../meeting/report.html">会议会展</a></li>
            <li><a href="../wedding/wedding.html">婚庆宴会</a></li>
            <li><a href="../room/room.html">舒适客房</a></li>
            <li><a href="../cate/cate.html">餐饮美食</a></li>
            <li><a href="../business/business.html">商务办公</a></li>
        </ul>
    </nav>
</div>
</body>
</html>